.strategie{
    display: flex;
    justify-content: space-around;
}

.la gestion{
    display: flex;
    justify-content: space-around;
    }

.approvisionnemente{
    display: flex;
    justify-content: space-around;
    }

.consultation{
    display: flex;
    justify-content: space-around;
 }